h1 {
    color:darkcyan;
    
}

tr.highlight {
    background-color: rgba(187, 187, 179, 0.5);
  } 
  
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

 nav a {
    color: white;
    text-decoration: none;
 }

 main {
    padding-left: 1%;
 }
 main a {
    color: darkgreen;
    text-decoration: none;
 } 
  .grid-container {
    padding-left: 1%;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
  }
  
  .grid1 {
    padding: 16px;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 24px 0;
    background-color:yellowgreen;
    padding-left: 1%;
  }
  
  img {
    height: 200px;
  }
  
  nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A33;
    text-shadow: 2px 2px 4px #0000004b;
  }